#container{
	width:100%;
	height:100%;
	background:#eff3f7;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
    margin-top: 1vh;
}
aside{
	width:300px;
	height:100%;
	background-color:#3b3e49;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
main{
	width:calc(100% - 300px);
	height:100%;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside header{
	padding:30px 20px;
}
aside input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#5e616a;
	border:none;
	border-radius:3px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:170px;
	background-size:40px;
}
aside input::placeholder{
	color:#fff;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	
}
aside li{
	padding:10px 0;
}
aside li:hover{
	background-color:#5e616a;
}
aside li.active{
	background-color:#5e616a;
}
h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
    height: 50px;
    width: 50px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

main header{
	height:70px;
	padding:10px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}
main header img:first-child{
	border-radius:50%;
    width: 50px;
    height: 50px;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
}
main header div{
	margin-left:10px;
	margin-right:145px;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
    height:78%;
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
	h2{
		margin-right: 10px;
	}
}
#chat .message{
	padding:20px 20px 0 20px;
	color:#fff;
	line-height:25px;
	max-width:70%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
	h3{
		display: block;
		color: rgb(71, 71, 71);
		margin-top: 5px;
		font-size:12px;
	}
}
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#58b666;
}
#chat .me .message{
	background-color:#6fbced;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #58b666 transparent;
		margin-left:15px;
}
#chat .me .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-right:15px;
        margin-left: auto;
}

main footer{
	padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main footer textarea{
    flex: 1;
    resize: none;
    background-color: rgba(0,0,0,0.05);
    border-radius: 18px;
    border: none;
    padding: 8px 12px;
    height: 38px;
    overflow: hidden;
}
main footer textarea::placeholder{
	color:rgba(0,0,0,0.5);
}
main footer textarea:focus{
	outline:none;
}

main footer img{
	height:30px;
	cursor:pointer;
    margin-right: 10px;
}
main footer button{
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	display:inline-block;
    margin-left: 10px;
    outline: none;
    border: none;
}